.genshin, .lol, .honkai {
    padding: 20px;
    width: 295px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    color: var(--cor-principal);
    border-radius: 10px;
}

.genshin {
    background-color: var(--cor-tag-genshin);
}

.lol {
    background-color: var(--cor-tag-lol);
}

.honkai {
    background-color: var(--cor-tag-honkai);
}