.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--cor-header);
    border-top: 3px solid var(--cor-bordas);
    box-shadow: 0px 1px 14px 0px var(--cor-bordas);
}

.logo {
    width: 12%;
}