.botao, .bordaAzul, .bordaBranca {
    background-color: transparent;
    color: var(--cor-fonte);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: .6rem 1.6rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    &:hover {
        background-color: var(--cor-principal);
        box-shadow: inset 0px 20px 27px -26px var(--cor-bordas);
    }
}

.bordaAzul {
    border: 3px solid var(--cor-bordas);
}

.bordaBranca {
    border: 3px solid var(--cor-fonte);
}