.categoria {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 40px;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    gap: 2rem;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: var(--cor-bordas) transparent;
    scrollbar-width: thin;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .categoria {
        align-items: center;
    }

    .cards {
        align-self: start;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .categoria {
        padding: 0px 20px;
    }

    .categoria:nth-child(3) {
        padding: 0px 20px 70px 20px;
    }
}