.selectLabelContainer {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}

.select {
    padding: 3%;
    background-color: transparent;
    color: var(--cor-fonte);
    border-radius: 10px;
    border: 2px solid var(--cor-fonte);
    resize: none;
}

.bordaAzul {
    border: 2px solid var(--cor-bordas);
}

.label {
    color: var(--cor-fonte);
    padding-left: .3rem;
}

.select option {
    background-color: var(--cor-header);
}

@media (max-width: 425px) {
    .label {
        font-size: .8rem;
    }
}