.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dialogo {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10%;
    background: var(--cor-header);
    border: 2px solid var(--cor-bordas);
    border-radius: 10px;
    width: 35%;
    padding: 30px 40px;
    margin: auto;
}

.containerDialogo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-header);
    width: 100%;
}

.fechar {
    display: flex;
    justify-content: end;
}

.fechar button {
    margin: 0;
    padding: 5px;
    border: 2px solid var(--cor-fonte);
    border-radius: 50%;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    gap: 3rem;
}

.subtitulo {
    color: var(--cor-fonte);
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    .dialogo {
        width: 90%;
    }
}