.campoLabelContainer {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.campo {
    padding: 2%;
    background-color: transparent;
    color: var(--cor-fonte);
    border-radius: 10px;
    border: 2px solid var(--cor-fonte);
}

.bordaAzul {
    border: 2px solid var(--cor-bordas);
}

.label {
    color: var(--cor-fonte);
    padding-left: .3rem;
}