.card {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 350px;
    border-radius: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 7px 7px;
    gap: 2rem;
    cursor: pointer;
    padding: .4rem;
    background-color: #000000;
}

iframe {
    border-radius: 5px 5px 0px 0px;
}

.back {
    border: 3px solid var(--cor-tag-back);
}

.front {
    border: 3px solid var(--cor-tag-front);
}

.mobile {
    border: 3px solid var(--cor-tag-mobile);
}