.card {
    display: flex;
    flex-direction: column;
    height: 350px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
}

.tituloBotoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 7px 7px;
    padding: .4rem;
    background-color: #000000;
    gap: .6rem;
}

.titulo {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
}

iframe {
    border-radius: 5px 5px 0px 0px;
}

.lol {
    color: var(--cor-tag-lol);
    border: 3px solid var(--cor-tag-lol);
}

.genshin {
    color: var(--cor-tag-genshin);
    border: 3px solid var(--cor-tag-genshin);
}

.honkai {
    color: var(--cor-tag-honkai);
    border: 3px solid var(--cor-tag-honkai);
}

.icones {
    width: 28px;
}

@media (max-width: 768px) {
    .card {
        min-width: 300px;
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .card {
        min-width: 90%;
        max-width: 90%;
    }
}

@media (max-width: 375px) {
    .icones {
        width: 24px;
    }

    .tituloBotoes {
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    .icones {
        width: 18px;
    }

    .tituloBotoes {
        font-size: .7rem;
    }
}