.card {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 350px;
    border-radius: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0px 0px 7px 7px;
    padding: .4rem;
    background-color: #000000;
}

.titulo {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

iframe {
    border-radius: 5px 5px 0px 0px;
}

.lol {
    color: var(--cor-tag-lol);
    border: 3px solid var(--cor-tag-lol);
}

.genshin {
    color: var(--cor-tag-genshin);
    border: 3px solid var(--cor-tag-genshin);
}

.honkai {
    color: var(--cor-tag-honkai);
    border: 3px solid var(--cor-tag-honkai);
}

.icones {
    width: 28px;
}