.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1%;
    background-color: var(--cor-header);
    border-bottom: 3px solid var(--cor-bordas);
}

.logo {
    width: 12%;
}

.linkContainer {
    display: flex;
    gap: 2rem;
}

.link, .active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-width: 180px;
    padding: 10px 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-weight: bold;
    color: #dedede;
}

.active {
    border-color: var(--cor-bordas);
    color: var(--cor-bordas);
    box-shadow: inset 0px 8px 15px -7px var(--cor-bordas);
}
