:root {
  --cor-background: #000000d2;
  --cor-principal: #03122F;
  --cor-header: #010a1b;
  --cor-bordas: #2271D1;
  --cor-tag-genshin: #6BD1FF;
  --cor-tag-lol: #00C86F;
  --cor-tag-honkai: #FFBA05;
  --cor-fonte: #dedede;
  --fonte: Inter, system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte);
}

body {
  background-color: var(--cor-background);
}